* {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    height: 100%;
    background-image: url("images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

:root{
    --darkish-grey: rgb(87, 86, 86);
    --light-blue: #a2dff7;
    --dark-blue: #254c5c;
}

div {
    background: none;
    height: fit-content;
}

span {
    background: none;
    color: white;
}

h1 {
    background: none;
    display: inline-flex;
}

h2 {
    background: none;
    height: fit-content;
    font-size: 0.8rem;
    width: 100%;
    padding-left: 10px;
    color: var(--darkish-grey)
}

p {
    background: none;
    height: inherit;
}

.github {
    display: inline-flex;
    position: absolute;
    right: 10px;
    top: 15px;
    background: none;
    text-decoration: none;
    font-size: 0.8rem;
}

#topBanner {
    background: var(--dark-blue);
    height: 40px;
    width: 100%;
    padding-left: 8px;
}

#search {
    border: 2px solid var(--darkish-grey);
    border-radius: 2px;
    width: calc(100% - 15px);
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#searchBox {
    display: inline-flex;
    background: white;
    color: var(--darkish-grey);
    height: 100%;
    font-size: 1.2rem;
    border: none;
    border-right: 2px solid var(--darkish-grey);
    width: calc(100% - 80px);
    padding-top: 3px;
}

#searchButton {
    background: none;
    color: var(--darkish-grey);
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 70px;
    border: none;
    text-align: center;
}

#mainContainer {
    background: none;
    background: none;
    display: inline-flex;
    height: 150px;
    width: 100%;
}

#temperature {
    display: table;
    text-align: center;
    margin-left: 10px;
}

#inner {
    display: table-cell;
    vertical-align: middle;
}

#tempMain {
    background: none;
    font-size: 3rem;
    text-align: center;
    height: fit-content;
}

#tempLike {
    font-size: 0.8rem;
    height: fit-content;
}

#iconDescription {
    position: relative;
    bottom: 50px;
    margin-right: 5px;
}

#icon {
    background: none;
    height: inherit;
    width: auto;
    margin-right: 10px;
}

#description {
    text-align: center;
    position: relative;
    bottom: 50px;
    right: 5px;
    font-size: 1rem;
    width: 100%;
    height: fit-content;
}

.header {
    color:var(--darkish-grey);
}

#moreInfo {
    background: none;
    height: fit-content;
    padding-left: 10px;
}

#switchUnits {
    background: var(--light-blue);
    color: var(--darkish-grey);
    border: 2px solid var(--darkish-grey);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 2px;
}

#forecastOuter {
    position: absolute;
    background: var(--dark-blue);
    width: 100%;
    height: 160px;
    bottom: 0;
    overflow-x: scroll;
}

#forecast {
    width: 750px;
    overflow-x: scroll;
}

.forecastItem {
    display: inline-block;
    width: 150px;
}

.forecastTemp {
    display: block;
    text-align: center;
    position: relative;
    top: 10px;
}

.forecastIcon {
    display: block;
    background: none;
    text-align: center;
    position: relative;
    top: -5px;
}

.ForecastDescription {
    display: block;
    text-align: center;
    position: relative;
    bottom: 30px;
}

.forecastDate {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    bottom: 25px;
    color: var(--light-blue);
}

sup {
    background: none;
    color: var(--light-blue);
}

.attribution {
    position: absolute;
    background: none;
    height: 50px;
    bottom: 130px;
    right: 5px;
    z-index: 200;
    font-size: 0.8rem;
    color: white;
}

.attribution > a {
    background: none;
    color: inherit;
}