* {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    height: 100%;
    background: linear-gradient(#e66465, #9198e5);
}

div {
    background: none;
}

span {
    background: none;
}

body {
    background: rgb(39, 159, 214);
    height: 550px;
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
}

h1 {
    background: none;
    height: 40px;
    width: 100%;
    text-align: center;
}

h2 {
    background: none;
    height: fit-content;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

p {
    background: none;
    height: inherit;
}
#search{ 
    background: white;
    height: 30px;
    font-size: 1.2rem;
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#mainContainer {
    background: none;
    display: inline-flex;
    height: 150px;
    width: 100%;
}

#temperature {
    display: table;
    text-align: center;
    margin-left: 40px;
}

#inner {
    display: table-cell;
    vertical-align: middle;
}

#tempMain {
    background: none;
    font-size: 3rem;
    text-align: center;
    height: fit-content;
}

#tempLike {
    font-size: 0.8rem;
    height: fit-content;
}

#icon {
    background: none;
    height: inherit;
    width: auto;
    margin-right: 40px;
}

#moreInfo {
    background: none;
    height: fit-content;
}

#description {
    text-align: center;
    font-size: 1.5rem;
}

#info {
    width: fit-content;
    padding: 5px;
    margin-top: 20px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 2px;
}

button {
    position: absolute;
    inset: 0;
    top: 20px;
    background: none;
    height: 30px;
    width: 60px;
    border: 1px solid black;
    border-radius: 2px;
}